MONGO_INITDB_ROOT_USERNAME=root_username_here
MONGO_INITDB_ROOT_PASSWORD=root_password_here
IDA_DB_USER=ida_user_here
IDA_DB_PASS=ida_password_here
IDA_DB_NAME=ida
IDA_DB_HOST=mongo
IDA_DB_PORT=27017
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=your_mapbox_token_here
NEXTAUTH_SECRET=VlzB8U0D+CU1EZnnGfesBnlcEmjVMoTUXkDf+irJKNc=
MONGODB_URI=mongodb://localhost:27017
NEXTAUTH_URL=http://localhost:3000
MONGODB_DB=ida
API_HOST=http://backend:8000
API_PORT=8000
NEXT_PUBLIC_BFF_URL=/api/real
NEXT_PUBLIC_AUTH_CODE=my-registration-auth-code